@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
body {
  margin: 0;
  max-width: 1440px;
  margin: auto;
}
body p {
  font-size: 15px;
}
body ul {
  margin: 0;
  padding: 0;
}
body #header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr 2fr;
  height: 642px;
  width: 100%;
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body #header nav {
  grid-column: 1/span 7;
  grid-row: 1/span 1;
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 170px;
  height: 150px;
  z-index: 10;
}
body #header nav #link {
  display: flex;
  flex-direction: row;
}
body #header nav #link li {
  list-style: none;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #header nav #link li a {
  text-decoration: none;
  color: white;
  font-family: "Alata", sans-serif;
  margin-bottom: 10px;
}
body #header nav #link li .line-link {
  height: 2px;
  width: 0px;
  background-color: transparent;
  transition: all ease 0.5s;
}
body #header nav #link li:hover .line-link {
  height: 2px;
  width: 25px;
  background-color: white;
}
body #header nav #link-mobile {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-around;
}
body #header nav #link-mobile div {
  height: 3px;
  width: 100%;
  background-color: white;
}
body #header .background-image-transparent-header {
  grid-column: 1/span 7;
  grid-row: 1/span 3;
  background-color: rgba(0, 0, 0, 0.33);
}
body #header .text-header {
  grid-column: 1/span 7;
  grid-row: 2/span 2;
  position: relative;
  z-index: 10;
}
body #header .text-header h1 {
  border: 2px white solid;
  width: 40%;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 64px;
  position: absolute;
  bottom: 107px;
  left: 166px;
  font-weight: 100;
  padding: 35px 21px 25px 37px;
}
body #infos {
  display: grid;
  grid-template-columns: 0.8fr 2.1fr 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.6fr 1fr 0.5fr;
  height: 800px;
}
body #infos .image-infos {
  grid-column: 2/span 2;
  grid-row: 2/span 2;
  overflow: hidden;
  background-image: url("../images/desktop/image-interactive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  height: 499px;
}
body #infos .text-infos {
  background-color: white;
  grid-column: 3/span 3;
  grid-row: 3/span 1;
  padding-left: 61px;
  padding-top: 67px;
}
body #infos .text-infos h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  font-weight: 100;
}
body #infos .text-infos p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 0;
  width: 385px;
  line-height: 1.5rem;
}
body #creations {
  display: grid;
  grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
  grid-template-rows: 0.2fr 2fr 0.2fr;
}
body #creations h2 {
  grid-column: 2/span 2;
  grid-row: 1/span 1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  font-weight: 100;
  display: flex;
  align-items: center;
}
body #creations button {
  grid-column: 5/span 1;
  grid-row: 1/span 1;
  margin: auto;
  margin-right: 0px;
  font-family: "Josefin Sans", sans-serif;
  border: 2px black solid;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  width: 200px;
  height: 50px;
  font-weight: 800;
  background-color: white;
  letter-spacing: 3px;
  padding: 5px 0;
  cursor: pointer;
  transition: background-color ease 1s, color ease 1s;
}
body #creations button:hover {
  background-color: black;
  color: white;
}
body #creations #root {
  grid-column: 1/span 6;
  grid-row: 2/span 1;
}
body #creations #root .container-images-creations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 71%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 6%;
  overflow: hidden;
}
body #creations #root .container-images-creations .contain-img {
  position: relative;
  margin-bottom: 2%;
  width: 23%;
}
body #creations #root .container-images-creations .contain-img .img {
  width: 100%;
}
body #creations #root .container-images-creations .contain-img p {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  color: white;
  font-weight: 100;
  bottom: 30px;
  left: 29px;
  margin: 0;
  text-transform: uppercase;
  width: 64%;
}
body #creations #root .container-images-creations .contain-img div {
  width: 100%;
  height: 99.5%;
  position: absolute;
  top: 0;
  background-color: #00000036;
  transition: background-color ease 1s;
}
body #creations #root .container-images-creations .contain-img:hover {
  cursor: pointer;
}
body #creations #root .container-images-creations .contain-img:hover div {
  background-color: #ffffffa8;
}
body #creations #root .container-images-creations .contain-img:hover p {
  color: black;
}
body #creations #root .container-images-creations .contain-img-mobile {
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 3%;
  height: 118px;
}
body #creations #root .container-images-creations .contain-img-mobile img {
  width: 100%;
}
body #creations #root .container-images-creations .contain-img-mobile .tranparent-img-mobile {
  background: linear-gradient(to right, #000000a1, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
body #creations #root .container-images-creations .contain-img-mobile p {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  top: 20px;
  left: 15px;
  font-size: 20px;
  text-transform: uppercase;
  width: 35%;
  font-weight: 100;
}
body #creations #root .container-images-creations .contain-img-mobile div {
  width: 100%;
  height: 97%;
  position: absolute;
  top: 0;
  background-color: black;
}
body #creations #root .container-images-creations .contain-img-mobile div:hover {
  background-color: white;
}
body #creations .container-images-creations-mobile {
  display: none;
}
body #footer {
  background-color: black;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body #footer div:first-child {
  display: flex;
  flex-direction: column;
}
body #footer div:first-child #logo {
  width: 162px;
  margin-bottom: 20px;
}
body #footer div:first-child #logo img {
  width: 100%;
}
body #footer div:first-child #link-footer {
  color: white;
  display: flex;
}
body #footer div:first-child #link-footer li {
  list-style: none;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #footer div:first-child #link-footer li a {
  text-decoration: none;
  color: white;
  font-family: "Alata", sans-serif;
  margin-bottom: 10px;
}
body #footer div:first-child #link-footer li .line-link {
  height: 2px;
  width: 0px;
  background-color: transparent;
  transition: all ease 0.5s;
}
body #footer div:first-child #link-footer li:hover .line-link {
  height: 2px;
  width: 25px;
  background-color: white;
}
body #footer div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body #footer div:last-child ul {
  display: flex;
  margin-bottom: 10px;
}
body #footer div:last-child ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #footer div:last-child ul li i {
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
}
body #footer div:last-child ul li .line-link {
  height: 2px;
  width: 0px;
  background-color: transparent;
  transition: all ease 0.5s;
}
body #footer div:last-child ul li:hover .line-link {
  height: 2px;
  width: 25px;
  background-color: white;
  margin-left: 20px;
}
body #footer div:last-child p {
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
}

@media (min-width: 691px) and (max-width: 1150px) {
  body #header nav {
    padding: 0 34px 0 41px;
  }
  body #header .text-header h1 {
    width: 65%;
    left: 0;
    right: 0;
    margin: auto;
  }

  body #infos .image-infos {
    background-position: center;
  }
  body #infos .text-infos {
    padding-left: 43px;
    padding-top: 44px;
  }
  body #infos .text-infos h2 {
    font-size: 32px;
  }
  body #infos .text-infos p {
    font-size: 12px;
    width: 341px;
  }
}
@media (min-width: 781px) and (max-width: 1150px) {
  body #infos {
    grid-template-columns: 0.8fr 1.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.6fr 1.2fr 0.5fr;
  }
  body #infos .text-infos h2 {
    font-size: 40px;
  }
}
@media (min-width: 481px) and (max-width: 780px) {
  body #header {
    background-image: url("../images/mobile/image-hero.jpg");
    grid-template-columns: 1fr;
    background-size: cover;
  }
  body #header nav {
    padding: 0 28px;
    height: 106px;
  }
  body #header nav #link {
    display: none;
  }
  body #header nav #link-mobile {
    display: flex;
  }
  body #header nav #link-mobile:hover {
    cursor: pointer;
  }
  body #header .text-header h1 {
    width: 73%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 39px;
    bottom: 172px;
    padding: 25px;
  }
  body #header .background-image-transparent-header {
    background-color: rgba(0, 0, 0, 0.11);
  }

  body #infos {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.1fr 1fr 0.2fr;
    height: auto;
  }
  body #infos .image-infos {
    background-image: url("../images/mobile/image-interactive.jpg");
    background-size: cover;
    grid-column: 1/span 5;
    grid-row: 2/span 1;
    overflow: hidden;
    width: 90%;
    margin: auto;
    height: 480px;
    background-position: top;
  }
  body #infos .text-infos {
    grid-column: 1/span 5;
    grid-row: 4/span 2;
    padding-top: 0;
    padding-left: 0;
    margin: 0 auto;
  }
  body #infos .text-infos h2 {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 47px;
  }
  body #infos .text-infos p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 29px;
    line-height: 3rem;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  body #header {
    background-image: url("../images/mobile/image-hero.jpg");
    grid-template-columns: 1fr;
    background-size: cover;
  }
  body #header nav {
    padding: 0 28px;
    height: 106px;
  }
  body #header nav #link {
    display: none;
  }
  body #header nav #link-mobile {
    display: flex;
  }
  body #header nav #link-mobile:hover {
    cursor: pointer;
  }
  body #header .text-header h1 {
    width: 73%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 39px;
    bottom: 172px;
    padding: 25px;
  }
  body #header .background-image-transparent-header {
    background-color: rgba(0, 0, 0, 0.11);
  }

  body #infos {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1.3fr 0.2fr;
    height: auto;
  }
  body #infos .image-infos {
    background-image: url("../images/mobile/image-interactive.jpg");
    background-size: cover;
    grid-column: 1/span 5;
    grid-row: 2/span 1;
    overflow: hidden;
    width: 90%;
    margin: auto;
    height: 231px;
  }
  body #infos .text-infos {
    grid-column: 1/span 5;
    grid-row: 4/span 2;
    padding-top: 0;
    padding-left: 0;
  }
  body #infos .text-infos h2, body #infos .text-infos p {
    text-align: center;
  }
  body #infos .text-infos h2 {
    font-size: 34px;
    margin-top: 0;
  }
  body #infos .text-infos p {
    width: 76%;
    margin: auto;
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 774px) {
  body #creations {
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 0.1fr 2fr 0.3fr;
  }
  body #creations h2 {
    grid-column: 2/span 1;
    font-size: 34px;
    justify-content: center;
    margin-top: 0;
  }
  body #creations button {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
    margin-right: auto;
    margin-top: 20px;
  }
  body #creations #root .container-images-creations {
    height: auto;
    width: 85%;
  }

  body #footer {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 15% 0;
    margin-top: 6%;
  }
  body #footer div:first-child {
    justify-content: center;
    align-items: center;
    margin-bottom: 11%;
  }
  body #footer div:first-child #link-footer {
    flex-direction: column;
    align-items: center;
  }
  body #footer div:first-child #link-footer li {
    padding-right: 0;
    margin-bottom: 28%;
  }
  body #footer div:last-child {
    align-items: center;
  }
  body #footer div:last-child ul li {
    padding-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
